name: Build Xkeen IPK packages

on:
  release:
    types: [created] 
  workflow_dispatch:
  repository_dispatch:
  push:
    tags:
      - 'v*'
      
permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  build-ipk:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # arch: [mipsel, mips, aarch64]
        arch: [mipsel]
        
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up environment
      run: |
        sudo apt-get update
        sudo apt-get install -y tar gzip jq

    - name: Read VERSION and set as environment variable
      run: |
        VERSION=$(cat VERSION)
        echo "Текущая версия: $VERSION"
        echo "version=$VERSION" >> $GITHUB_ENV
        source_date_epoch = $(date +%s)
        echo "SourceDateEpoch: $source_date_epoch"
        echo "SourceDateEpoch=$source_date_epoch" >> $GITHUB_ENV

    - name: Create IPK package structure
      run: |
        mkdir -p xkeen-${{ env.version }}-${{ matrix.arch }}/opt/sbin
        mkdir -p xkeen-${{ env.version }}-${{ matrix.arch }}/CONTROL
        
        cat > xkeen-${{ env.version }}-${{ matrix.arch }}/CONTROL/control <<EOF
        Package: xray_s
        Version: ${{ env.version }}
        Depends: libc, libssp, librt, libpthread, ca-bundle
        Source: XTLS Team
        SourceName: xray_s
        Section: net
        SourceDateEpoch: ${{ env.SourceDateEpoch }}
        Maintainer: Skrill
        Architecture: ${{ matrix.arch }}-3.4
        Installed-Size: $(du -s "$install_dir" | cut -f1)
        Description: A unified platform for anti-censorship.
        EOF 
        
    - name: Display artifacts
      run: |
        ls -al ./
        ls -R ./
        ls -al /opt/sbin/
        cat xkeen-${{ steps.version.outputs.version }}-${{ matrix.arch }}/CONTROL/control

    - name: Install xkeen
      run: |
        export PATH="/opt/sbin/:$PATH"
        cd /opt/sbin/_xkeen
        xkeen -i

